@{
    ViewData["Title"] = "Home Page - JF SITE";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi Site</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Aprende más de .NET Core</a>.</p>
</div>
